$primary: #B6065A;
$secondary: #36393f;
$tertiary: #2f3136;
$quaternary: rgb(32,34,37);
$quinary: #292b2f;
$senary: #393d42;
$septenary: #828386;

$bg: #26222C;
$bg_dark: #211F28;

$font_color: #fafafa;
$font_family: 'Manrope', sans-serif;

$white: #fff;
$gray: #8a8c90;
$green: #1ca056;
$chat-input: rgb(64,68,75);
$symbol: #74777a;

$notification: #f84a4b;
$discord: #6e86d6;
$mention-detail: #f9a839;

$link: #5d80d6;